<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.local.PenguinFan.agent</string>
  <key>BundleProgram</key>
  <string>Contents/Helpers/FanControllerAgent</string>
  <key>MachServices</key>
  <dict>
    <key>com.local.PenguinFan.agent</key>
    <true/>
  </dict>
  <key>SpawnConstraint</key>
  <dict>
    <key>signing-identifier</key>
    <string>com.local.PenguinFan.agent</string>
    <key>team-identifier</key>
    <string>UUUQNVQ67B</string>
    <key>validation-category</key>
    <integer>3</integer>
  </dict>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
